
.test {
    position: relative;
    height: 80vh;
    background:url('../assets/picture.png');
    background-size: cover;
    background-position: center center;
    h1 {
        color: #fff;
        text-align: center;
    }
}